<!--The content below is only a placeholder and can be replaced.-->
<table class="rwd-table">
  <tr>
    <th>walor</th>
    <th>ilość</th>
    <th>cena kupna</th>
    <th>cena aktualna</th>
    <th>zysk/strata</th>
    <th>procentowo</th>
  </tr>
  <tr>
    <td>KGHM</td>
    <td>10</td>
    <td>100.20zł</td>
    <td>120.23zł</td>
    <td>200.30zł</td>
    <td>119.99%</td>
  </tr>
  <tr>
    <td>KGHM</td>
    <td>4</td>
    <td>340.20zł</td>
    <td>120.23zł</td>
    <td>-879.88zł</td>
    <td>35.34%</td>
  </tr>
</table>
