<!--The content below is only a placeholder and can be replaced.-->
<table class="rwd-table">
  <tr>
    <th>walor</th>
    <th>ilość</th>
    <th>cena kupna</th>
    <th>cena aktualna</th>
    <th>zysk/strata</th>
    <th>procentowo</th>
  </tr>
  <tr *ngFor="let investment of investments">
    <td>{{investment.name}}</td>
    <td>{{investment.quantity}}</td>
    <td>{{investment.buyPrice}}</td>
    <td>{{investment.actualPrice}}</td>
    <td>{{investment.income}}</td>
    <td>{{investment.percentage}}</td>
  </tr>
</table>
